@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

h2 {
  font-family: "Ubuntu", sans-serif;
  margin-top: 100px;
}

.item--list {
  margin-top: 40px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
}

.search--box {
  margin-top: 20px;
  margin-left: 40px;
  font-family: "Ubuntu", sans-serif;
  width: 250px;
  font-size: 20px;
  height: 32px;
}

.search--icon {
  height: 32px;
}
